#wall .tag-1 {
    display: none;
  }

body > #wall >#tag-2 {
    display: none;
}

div#wall > #tag-2 + #tag-3.wicked {
    display:none;
}

body > div#wall >.parent > #tag-4 {
    display:none;
}

body > div#wall > .parent > #tag-5.slick {
    display:none;
}

body > div#wall >.parent > #tag-5 + div.parent > div + #tag-6{
    background:none;
    display:none;
}

body > div#wall >.parent > div > #tag-7.slick {
    display:none;

}